{
    "database": {
        "host": "46.30.42.225",
        "port": "3306",
        "database": "xwt_db",
        "username": "platformer",
        "password": "w123456"
    },
    "server": {
        "port": 3080,
        "host": "localhost"
    },
    "socket": {
        "port": 3000,
        "host": "localhost"
    },
    "logs":  {
        "level":  "info"
    },
    "android": {
        "version": 0
    },
    "iOS": {
        "version": 0
    },
    "query": {
        "public_models": ["cars", "icons", "skins"]
    }
}