{
    "database": {
        "host": "46.30.42.225",
        "port": "3306",
        "database": "xwt_db",
        "username": "platformer",
        "password": "w123456",
        "logging": false
    },
    "server": {
        "port": 3080,
        "host": "localhost"
    },
    "socket": {
        "port": 3000,
        "host": "localhost"
    },
    "logger":  {
        "level":  "info"
    },
    "client": {
        "version": "0.1.1"
    },
    "query": {
        "public_models": ["cars", "icons", "skins"]
    }
}